<div *ngIf="showMsg">  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Succesfully Added Work Experience!</strong>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<div *ngIf="experience$ | async as ex">
    <div class="text-center" *ngIf="ex.length !=0">
        <h3 class="white-text text-white">
          Work Experiences:
        </h3>
        <hr class="hr-light" />
      </div>


      <div class="container">
        <div class="row work">
          <div class="nine columns main-col">
            <div *ngFor="let exp of ex">
              <div class="card h-100 mb-4 shadow-sm">
                <div class="card-body">
              
                <div class="card-title">
                  <h3>{{ exp.company }}</h3>
                </div>
                <div class="card-text">
                  <p class="info">
                    {{ exp.jobPos }} <span>&bull;</span>
                    <em class="date">
                      {{ getYear(exp.startYear) }} -
                      {{ getYear(exp.endYear) }}</em
                    >
                  </p>
                  <p>{{ exp.description }}</p>
                  <a href="{{ exp.link }}" target="_blank">{{ exp.link }}</a>
                </div>
              
              </div>
              <div class="d-flex ml-2 mb-2 justify-content-between align-items-center">
                  <div class="btn-group mt-auto">
                    
                    <a
                    (click)="delete(exp.id)"
                    class=" btn btn-sm btn-outline-warning"
                    >delete</a
                  >
                  </div>
                  
                </div>
              </div>
              <!-- item end -->
            </div>
          </div>
          <!-- main-col end -->
        </div>
        <!-- End Work -->
      </div>
    </div>





<div class="text-center">
    <h3 class="white-text text-white">
      Add Work Experience:
    </h3>
    <hr class="hr-light" />
  </div>
<form [formGroup]="experience" (ngSubmit)="onSubmit()">
  <div class="row mt-2">
    <div class="col-lg-6 mx-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>business</mat-icon>
          </span>
        </div>
        <input
          type="text"
          class="form-control mr-sm-2"
          placeholder="Company"
          data-cy="exp-comp"
          aria-label="Company"
          aria-describedby="basic-addon1"
          formControlName="company"
          [ngClass]="fieldClass('company')"
        />
        <div class="invalid-feedback" *ngIf="isValid('company')">
            company {{ getErrorMessage(experience.get("company").errors) }}
          </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>person</mat-icon>
          </span>
        </div>
        <input
          type="text"
          class="form-control mr-sm-2"
          placeholder="Position"
          data-cy="exp-pos"
          aria-label="Position"
          aria-describedby="basic-addon1"
          formControlName="jobPos"
          [ngClass]="fieldClass('jobPos')"
        />
        <div class="invalid-feedback" *ngIf="isValid('jobPos')">
            Position {{ getErrorMessage(experience.get("jobPos").errors) }}
          </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>link</mat-icon>
          </span>
        </div>
        <input
          type="url"
          class="form-control mr-sm-2"
          placeholder="Link"
          data-cy="exp-link"
          aria-label="Link"
          aria-describedby="basic-addon1"
          formControlName="link"
          [ngClass]="fieldClass('link')"
        />
        <div class="invalid-feedback" *ngIf="isValid('link')">
            link {{ getErrorMessage(experience.get("link").errors) }}
          </div>
      </div>
    </div>
    <div class="col-lg-6 mx-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>description</mat-icon>
          </span>
        </div>
        <textarea
          class="form-control mr-sm-2"
          rows="4"
          id="comment"
          placeholder="Why was this experience useful to you, what did this job position include..."
          data-cy="exp-desc"
          aria-label="About Me"
          aria-describedby="basic-addon1"
          formControlName="description"
          [ngClass]="fieldClass('description')"
        ></textarea>
        <div class="invalid-feedback" *ngIf="isValid('description')">
            description {{ getErrorMessage(experience.get("description").errors) }}
          </div>
      </div>

      <div class="form-row">
      <div class="col-sm-6 input-group mb-3">
        <div class="input-group-prepend">
          <span class=" input-group-text" id="basic-addon2">
            <mat-icon>date_range</mat-icon>
          </span>
        </div>
        <input
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          class="form-control mr-sm-2"
          data-cy="exp-time-start"
          placeholder="Starting Date"
          aria-label="Starting Date"
          aria-describedby="basic-addon2"
          formControlName="startYear"
          [ngClass]="fieldClass('startYear')"
        />
        <div class="invalid-feedback" *ngIf="isValid('startYear')">
            Starting Date {{ getErrorMessage(experience.get("startYear").errors) }}
          </div>
      </div>
      <div class="col-sm-6 input-group mb-3">
        <input
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          class="form-control mr-sm-2"
          placeholder="Ending Date"
          data-cy="exp-time-end"
          aria-label="Ending Date"
          aria-describedby="basic-addon2"
          formControlName="endYear"
          [ngClass]="fieldClass('endYear')"
        />
        <div class="invalid-feedback" *ngIf="isValid('endYear')">
            Ending Date {{ getErrorMessage(experience.get("endYear").errors) }}
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <button type="submit" data-cy="exp-submit" class="btn btn-outline-light " [disabled]="experience.invalid">Add Experience</button>
  </div>
</form>
