<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Portfolio Not Found</h2>
                <div class="error-details">
                    Sorry, it looks like this portfolio does not exist, are you sure you have the correct link?
                </div>
                <div class="error-actions">
                    <a href="" class="btn btn-outline-dark mr-sm-2"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="" class="btn btn-outline-dark mr-sm-2" data-toggle="collapse" data-target="#collapseExample" ><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
                <iframe class="collapse" id="collapseExample" width="560" height="315" src="https://www.youtube.com/embed/1vrEljMfXYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
  </div>