<div class="row mt-5">
  <div class="col-md-6 col-xl-5 mb-4 mx-auto">
    <!--Form-->
    <div class="card">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h3 class="white-text">
            Add portfolio:
          </h3>
          <hr class="hr-light" />
        </div>
        <!--form starts here!!-->

        <div class="alert alert-danger mr-sm-2" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>

        <form [formGroup]="portfolio" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>person</mat-icon>
              </span>
            </div>
            <input
              type="text"
              class="form-control mr-sm-2"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="pName"
              [ngClass]="fieldClass('pName')"
            />
            <div class="invalid-feedback" *ngIf="isValid('pName')">
              name {{ getErrorMessage(portfolio.get("pName").errors) }}
            </div>
          </div>
          <br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>description</mat-icon>
              </span>
            </div>
            <textarea
              class="form-control mr-sm-2"
              rows="5"
              id="comment"
              placeholder="About Me"
              aria-label="About Me"
              aria-describedby="basic-addon1"
              formControlName="description"
              [ngClass]="fieldClass('description')"
            ></textarea>
            <div class="invalid-feedback" *ngIf="isValid('description')">
              description
              {{ getErrorMessage(portfolio.get("description").errors) }}
            </div>
          </div>

          <br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>attach_file</mat-icon>
              </span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                class="form-control-file custom-file-input mr-sm-2"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
                #fileInput
                (change)="preUpload($event)"
                placeholder="image"
                aria-label="image"
                formControlName="picturePath"
                [ngClass]="fieldClass('picturePath')"
              />
              <label
                class="custom-file-label"
                for="inputGroupFile01"
                *ngIf="!isFileChosen"
                >Choose Image</label
              >
              <label
                class="custom-file-label"
                for="inputGroupFile01"
                *ngIf="isFileChosen"
                >{{ fileName }}</label
              >
            </div>
            <div class="invalid-feedback" *ngIf="isValid('picturePath')">
              {{ getErrorMessage(portfolio.get("picturePath").errors) }}
            </div>
          </div>
          <br />

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>attach_file</mat-icon>
              </span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                class="form-control-file custom-file-input mr-sm-2"
                id="inputGroupFile02"
                aria-describedby="inputGroupFileAddon02"
                placeholder="resume"
                aria-label="resume"
                formControlName="resumePath"
                [ngClass]="fieldClass('resumePath')"
                #fileInput
                (change)="preUpload2($event)"
              />
              <label
                class="custom-file-label"
                for="inputGroupFile02"
                *ngIf="!isFileChosen2"
                >Add CV as PDF</label
              >
              <label
                class="custom-file-label"
                for="inputGroupFile02"
                *ngIf="isFileChosen2"
                >{{ fileName2 }}</label
              >
            </div>

            <div class="invalid-feedback" *ngIf="isValid('resumePath')">
              {{ getErrorMessage(portfolio.get("resumePath").errors) }}
            </div>

          </div>

          <div class="text-center mt-4">
            <button
              type="submit"
              class="btn btn-outline-light "
              [disabled]="portfolio.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
