<div class="row mt-5">
  <div class="col-md-6 col-xl-5 mb-4 mx-auto">
    <!--Form-->
    <div class="card">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h3 class="white-text">
            Add portfolio:
          </h3>
          <hr class="hr-light" />
        </div>
        <!--form starts here!!-->

        <div class="alert alert-danger mr-sm-2" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>

        <form [formGroup]="portfolio" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>person</mat-icon>
              </span>
            </div>
            <input
              type="text"
              class="form-control mr-sm-2"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="pName"
              [ngClass]="fieldClass('pName')"
            />
            <div class="invalid-feedback" *ngIf="isValid('pName')">
              name {{ getErrorMessage(portfolio.get("pName").errors) }}
            </div>
          </div>
          <br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <mat-icon>description</mat-icon>
              </span>
            </div>
            <textarea
              class="form-control mr-sm-2"
              rows="5"
              id="comment"
              placeholder="About Me"
              aria-label="About Me"
              aria-describedby="basic-addon1"
              formControlName="description"
              [ngClass]="fieldClass('description')"
            ></textarea>
            <div class="invalid-feedback" *ngIf="isValid('description')">
              description
              {{ getErrorMessage(portfolio.get("description").errors) }}
            </div>
          </div>

          <br />
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <mat-icon>attach_file</mat-icon>
                </span>
              </div>
            <div class="custom-file">
          <input  
            type="file"
            class="form-control custom-file-input mr-sm-2"
            placeholder="image"
            aria-label="image"
            aria-describedby="basic-addon1"
            formControlName="picturePath"
            (change)="onFileChanged($event)"
            [ngClass]="fieldClass('picturePath')"
            id="customFile"
          />              
          <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
            <div class="invalid-feedback" *ngIf="isValid('picturePath')">
              {{ getErrorMessage(portfolio.get("picturePath").errors) }}
            </div>
          </div>
          <br />

          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <mat-icon>attach_file</mat-icon>
                  </span>
                </div>
              <div class="custom-file">
            <input  
              type="file"
              class="form-control custom-file-input mr-sm-2"
              placeholder="resume"
              aria-label="resume"
              aria-describedby="basic-addon2"
              formControlName="resumePath"
              (change)="onFileChanged($event)"
              [ngClass]="fieldClass('resumePath')"
              id="customFileR"
            />              
            <label class="custom-file-label" for="customFileR">Choose file</label>
            </div>
            <div class="invalid-feedback" *ngIf="isValid('resumePath')">
              {{ getErrorMessage(portfolio.get("resumePath").errors) }}
            </div>
          </div>

          <div class="text-center mt-4">
            <button
              type="submit"
              class="btn btn-outline-light "
              [disabled]="portfolio.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
