<div *ngIf="user.invalid">
<div *ngIf="user.dirty">
<div class="alert alert-danger mr-sm-2" role="alert">
    <div *ngIf="isValid('lastname')"> Surname {{getErrorMessage(user.get("lastname").errors)}} </div>
    <div *ngIf="isValid('firstname')"> Firstname {{getErrorMessage(user.get("firstname").errors)}} </div>
    <div *ngIf="isValid('email')"> User {{getErrorMessage(user.get("email").errors)}} </div>
    <div *ngIf="isValid('passwordGroup.password')"> Password {{getErrorMessage(user.get("passwordGroup.password").errors)}} </div>
    <div *ngIf="isValid('passwordGroup.confirmPassword')"> Password Confirmation {{getErrorMessage(user.get("passwordGroup.confirmPassword").errors)}} </div>
    <div
  *ngIf="
    user.get('passwordGroup').errors &&
    user.get('passwordGroup').get('confirmPassword').touched &&
    user.get('passwordGroup').get('password').touched
  "
>
  {{ getErrorMessage(user.get("passwordGroup").errors) }}
</div>
</div>
</div>
</div>

<div class="alert alert-danger mr-sm-2" *ngIf="errorMsg">
  {{errorMsg}}
</div>

<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <mat-icon>account_circle</mat-icon>
      </span>
    </div>
    <input
      type="text"
      class="form-control mr-sm-2"
      placeholder="Firstname"
      aria-label="Firstname"
      aria-describedby="basic-addon1"
      data-cy="register-firstname"
      formControlName="firstname"
      [ngClass]="fieldClass('firstname')"
    />
    <input
      type="text"
      class="form-control mr-sm-2"
      placeholder="Surname"
      aria-label="Surname"
      aria-describedby="basic-addon1"
      data-cy="register-lastname"
      formControlName="lastname"
      [ngClass]="fieldClass('lastname')"
    />
  </div>
  <br />
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <mat-icon>email</mat-icon>
      </span>
    </div>
    <input
      type="email"
      class="form-control mr-sm-2"
      placeholder="Email"
      aria-label="Username"
      aria-describedby="basic-addon1"
      data-cy="register-email"
      formControlName="email"
      [ngClass]="fieldClass('email')"
    />
  </div>
  <br />
  <span formGroupName="passwordGroup">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class=" input-group-text" id="basic-addon2">
          <mat-icon>lock</mat-icon>
        </span>
      </div>
      <input
        type="password"
        class="form-control mr-sm-2"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon2"
        data-cy="register-password"
        formControlName="password"
        [ngClass]="fieldClass('passwordGroup.password')"
        
      />
    </div>
    <br />
    <div class="input-group">
      <div class="input-group-prepend">
        <span class=" input-group-text" id="basic-addon2">
          <mat-icon>lock</mat-icon>
        </span>
      </div>
      <input
        type="password"
        class="form-control mr-sm-2"
        placeholder="Password Confirmation"
        aria-label="Password"
        aria-describedby="basic-addon2"
        data-cy="register-confirm-password"
        formControlName="confirmPassword"
        [ngClass]="fieldClass('passwordGroup.confirmPassword')"
      />
    </div>
  </span>
  <div class="text-center mt-4">
    <button
      type="submit"
      class="btn btn-outline-dark"
      data-cy="register-button"
      [disabled]="user.invalid"
    >
      Sign up
    </button>
  </div>
</form>
