<!--form starts here!!-->
<!--Add Edit Port Component here, or do it in page, whichever works-->
<div *ngIf="showMsg">  
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Succesfully Edited Portfolio! You'll see the changes once you reload the page!</strong>
      
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
<div class="text-center">
    <h3 class="white-text text-white">
      Edit Portfolio:
    </h3>
    <hr class="hr-light" />
  </div>
<div *ngIf="portfolio$ | async as item">
<form [formGroup]="saveP" (ngSubmit)="onSubmit(item.id)">
  <div class="row mt-2">
    <div class="col-lg-6 mx-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>person</mat-icon>
          </span>
        </div>
        <input
          type="text"
          class="form-control mr-sm-2"
          [value]="item.name"
          placeholder="Name"
          aria-label="Name"
          aria-describedby="basic-addon1"
          formControlName="pName"
          [ngClass]="fieldClass('pName')"
        />
        <div class="invalid-feedback" *ngIf="isValid('pName')">
            name {{ getErrorMessage(saveP.get("pName").errors) }}
          </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>description</mat-icon>
          </span>
        </div>
        <textarea
          class="form-control mr-sm-2"
          rows="5"
          id="comment"
          [value]="item.description"
          placeholder="About Me"
          aria-label="About Me"
          aria-describedby="basic-addon1"
          formControlName="description"
          [ngClass]="fieldClass('description')"
        ></textarea>
        <div class="invalid-feedback" *ngIf="isValid('description')">
            description {{ getErrorMessage(saveP.get("description").errors) }}
          </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <mat-icon>add_a_photo</mat-icon>
          </span>
        </div>
        <div class="custom-file">
          <input
            type="file"
            class="form-control-file custom-file-input mr-sm-2"
            id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01"
            #fileInput
            (change)="preUpload($event)"
            placeholder="image"
            aria-label="image"
            formControlName="picturePath"
            [ngClass]="fieldClass('picturePath')"
          />
          <label
            class="custom-file-label"
            for="inputGroupFile01"
            *ngIf="!isFileChosen"
            >Choose Image</label
          >
          <label
            class="custom-file-label"
            for="inputGroupFile01"
            *ngIf="isFileChosen"
            >{{ fileName }}</label
          >
        </div>
        <div class="invalid-feedback" *ngIf="isValid('picturePath')">
            image {{ getErrorMessage(saveP.get("picturePath").errors) }}
          </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class=" input-group-text" id="basic-addon2">
            <mat-icon>attach_file</mat-icon>
          </span>
        </div>
        <div class="custom-file">
          <input
            type="file"
            class="form-control-file custom-file-input mr-sm-2"
            id="inputGroupFile02"
            aria-describedby="inputGroupFileAddon02"
            placeholder="resume"
            aria-label="resume"
            formControlName="resumePath"
            [ngClass]="fieldClass('resumePath')"
            #fileInput
            (change)="preUpload2($event)"
          />
          <label
            class="custom-file-label"
            for="inputGroupFile02"
            *ngIf="!isFileChosen2"
            >Choose PDF</label
          >
          <label
            class="custom-file-label"
            for="inputGroupFile02"
            *ngIf="isFileChosen2"
            >{{ fileName2 }}</label
          >
        </div>
        <div class="invalid-feedback" *ngIf="isValid('resumePath')">
            resume {{ getErrorMessage(saveP.get("resumePath").errors) }}
          </div>
      </div>

    </div>
  </div>

  <div class="btn-group flex-wrap mt-auto" data-toggle="buttons" role="group">
    <button
      type="submit"
      (click)="onSubmit(item.id)"
      class="btn btn-sm btn-outline-light "
      [disabled]="saveP.invalid"
      *ngIf="!uploading"
    >
      Save Changes
    </button>

    <button class="btn btn-primary" type="button" disabled *ngIf="uploading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  </div>
</form>
</div>