<p>Show Basic Portfolio Data Here! In dit kaartje vind je ook link naar generated portfolio & delete knop om portfolio te deleten! ZIE MOCKUP</p>
<!--contact form-->
<div class="row mt-3">
  <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 mx-auto">
    <!--Form-->
    <div class="card " >
      <div class="card-body">
        <!--PortfolioCARD-->
        <div class="text-center">
            <h3 class="white-text">
              Your Portfolio:</h3>
            <hr class="hr-light">
        </div>
        <div class="card">
            <img class="card-img" src="{{portfolio$.picturePath}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{portfolio$.name}} </h5>
              <p class="card-text">{{portfolio$.description}}</p>
              <a href="{{portfolio$.resumePath}}" class="btn btn-primary">Resume</a>
              <a href="#" class="btn btn-warning" (click)="delete(portfolio$.id)">Delete</a>
            </div>
          </div>
        <!--Header-->
        <div class="text-center">
          <h3 class="white-text">
            Your Contact Information:</h3>
          <hr class="hr-light">
        </div>
        <!--form starts here!!-->
        <form [formGroup]="contact" (ngSubmit)="onSubmit()">
          <div class="row mt-5">
            <div class="col-lg-6 mx-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <mat-icon>person</mat-icon>
                  </span>
                </div>
                <input type="text" class="form-control mr-sm-2"
                 placeholder="Name" aria-label="Name"
                aria-describedby="basic-addon1" formControlName="name">
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <mat-icon>person</mat-icon>
                </span>
              </div>
              <input  type="text" class="form-control mr-sm-2" placeholder="Surname" aria-label="Surname"
               aria-describedby="basic-addon1" formControlName="surname">
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <mat-icon>email</mat-icon>
                </span>
              </div>
              <input type="email" class="form-control mr-sm-2" placeholder="Email" aria-label="email" aria-describedby="basic-addon1"
                formControlName="email"> 
            </div>
            <br>
            
            <div class="input-group">
              <div class="input-group-prepend">
                <span class=" input-group-text" id="basic-addon2">
                                            
                  <mat-icon>date</mat-icon>
                </span>
              </div>
              <input type="date" class="form-control mr-sm-2" placeholder="Birth Date" aria-label="Birth Date"
               aria-describedby="basic-addon2" formControlName="birthDate">
            </div>
            <br>
          </div>
        
        
            <div class="col-lg-6 mx-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <mat-icon>Street</mat-icon>
                  </span>
                </div>
                <input type="text" class="form-control mr-sm-2"
                 placeholder="Street" aria-label="Street"
                aria-describedby="basic-addon1" formControlName="street">
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <mat-icon>City</mat-icon>
                </span>
              </div>
              <input  type="text" class="form-control mr-sm-2" placeholder="City" aria-label="City"
               aria-describedby="basic-addon1" formControlName="city">
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <mat-icon>country</mat-icon>
                </span>
              </div>
              <input type="url" class="form-control mr-sm-2" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1"
                formControlName="country"> 
            </div>
            <br>
            
            <div class="input-group">
              <div class="input-group-prepend">
                <span class=" input-group-text" id="basic-addon2">
                                            
                  <mat-icon>PostalCode</mat-icon>
                </span>
              </div>
              <input type="number" class="form-control mr-sm-2" placeholder="PostalCode" aria-label="PostalCode"
               aria-describedby="basic-addon2" formControlName="postalCode">
            </div>
          </div>
        </div>
        <div class="mt-4 ">
            <button type="submit" class="btn btn-outline-light ">Add Contact</button>
          </div>
        </form>
        <div class="row mt-5">
        
            <div class=" col-lg-6 mx-auto">
        <div class="text-center">
            <h3 class="white-text">
              Add Skill:</h3>
            <hr class="hr-light">
          </div>
          <!--form starts here!!-->
          <app-skill></app-skill>
        </div>
          

        
            <div class=" col-lg-6 mx-auto">
        <div class="text-center">
            <h3 class="white-text">
              Add Education:</h3>
            <hr class="hr-light">
          </div>
          <!--form starts here!!-->
          <app-education></app-education>

        </div>
        </div>

        <div class="row mt-5">
        
            <div class=" col-lg-6 mx-auto">
        <div class="text-center">
            <h3 class="white-text">
              Add Experience:</h3>
            <hr class="hr-light">
          </div>
          <!--form starts here!!-->
          
          <app-experience></app-experience>
        </div>

        
            <div class=" col-lg-6 mx-auto">
        <div class="text-center">
            <h3 class="white-text">
              Add Work:</h3>
            <hr class="hr-light">
          </div>
          <!--form starts here!!-->
          
          
        </div>
        </div>
    </div>
    </div>
  </div>
</div>

