<!--contact form-->
<ng-container *ngIf="portfolio$ | async as item">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="container ">
          <div class="row">
            <div class="card col-md-3 ml-md-3 mr-sm-3 mr-lg-5 mt-3">
              <img
                class="card-img mt-3"
                [src]="image"
                alt="Image"
                
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-white">{{ item.name }}</h5>
                <div class="btn-group flex-wrap mt-auto" role="group">
                  <!-- CHANGE THIS PLZ -->
                  <a
                    href="{{pdf}}"
                    class="btn btn-sm btn-outline-light"
                    data-toggle="modal"
                    data-target="#myModal"
                    >Resume</a
                  >

                  <div
                    class="modal fade"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Resume</h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true"
                          >
                            &times;
                          </button>
                        </div>
                        <div class="modal-body ">
                          <embed
                          [src]="pdf"
                          frameborder="0"
                          width="100%"
                          height="500px"   
                          type='application/pdf'                       
                        />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a
                    href="/portfolio/viewPortfolio/{{ item.id }}"
                    class="btn btn-sm  btn-outline-light"
                    target="_blank"
                    >Portfolio</a
                  >
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapsePort"
                    (click)="scroll(targetPort)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-sm  btn-outline-warning"
                    (click)="delete(item.id)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <div class="card col-md-8 ml-md-3 mt-3">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-white">Portfolio Details</h5>
                <p class="card-text text-white">{{ item.description }}</p>

                <div *ngIf="contact$ | async as c">
                  <h5 class="card-title text-white">Contact Details</h5>
                  <div class="card-text">
                    <ul class="list-unstyled text-light">
                      <li>Name: {{ c.name }} {{ c.surname }}</li>
                      <li>Email: {{ c.email }}</li>
                      <li>Birthdate: {{ formatDate(c.birthDate) }}</li>
                      <li>Address: {{ c.street }}</li>
                      <li>
                        City: {{ c.postalCode }}
                        {{ c.city }}
                      </li>
                      <li>Country: {{ c.country }}</li>
                    </ul>
                  </div>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                </div>
                <div class="btn-group flex-wrap mt-auto" role="group">
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapseSk"
                    (click)="scroll(targetSkills)"
                  >
                    Skills
                  </button>
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapseEdu"
                    (click)="scroll(targetEdu)"
                  >
                    Educations
                  </button>
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapseExp"
                    (click)="scroll(targetExp)"
                  >
                    Work Experiences
                  </button>
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapseWork"
                    (click)="scroll(targetWorks)"
                  >
                    Works
                  </button>
                  <button
                    class="btn btn-sm  btn-outline-light"
                    data-toggle="collapse"
                    data-target="#collapseContact"
                    (click)="scroll(targetContact)"
                  >
                    Contact Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12 mx-auto">
        <div class="container ">
          <div
            #targetPort
            class="card col-md-12 collapse mb-3 "
            id="collapsePort"
          >
            <div class="card-body">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapsePort"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="row mt-5">
                <div class=" col-lg-12 mx-auto">
                  <app-edit-portfolio [id]="item.id" [port]="portfolio$"></app-edit-portfolio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12 mx-auto">
        <div class="container ">
          <!--Form-->

          <!--Header-->
          <div
            #targetContact
            class="card col-md-12 mb-3 collapse"
            id="collapseContact"
          >
            <div class="card-body ">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapseContact"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="text-center">
                <h3 class="white-text mt-5 text-white">
                  Your Contact Information:
                </h3>
                <hr class="hr-white" />
              </div>
              <!--form starts here!!-->

              <form [formGroup]="contact" (ngSubmit)="onSubmit(item.id)">
                <div class="row mt-2">
                  <div class="col-lg-6 mx-auto">
                      <div class="form-row">
                          <div class="col-sm-6 input-group mb-3">
                      <div class="input-group-prepend ">
                        <span class="input-group-text" id="basic-addon1">
                          <mat-icon>person</mat-icon>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control mr-sm-2"
                        placeholder="Name"
                        aria-label="Name"
                        aria-describedby="basic-addon1"
                        formControlName="name"
                        [ngClass]="fieldClass('name')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('name')">
                          Name {{ getErrorMessage(contact.get("name").errors) }}
                        </div>
                    </div>
                    <div class="col-sm-6 input-group mb-3">
                      <input
                        type="text"
                        class="form-control mr-sm-2"
                        placeholder="Surname"
                        aria-label="Surname"
                        aria-describedby="basic-addon1"
                        formControlName="surname"
                        [ngClass]="fieldClass('surname')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('surname')">
                          Surname {{ getErrorMessage(contact.get("surname").errors) }}
                        </div>
                    </div>
                    </div>
                    

                    <div class="input-group mb-3">
                      <div class="input-group-prepend ">
                        <span class="input-group-text" id="basic-addon1">
                          <mat-icon>contact_mail</mat-icon>
                        </span>
                      </div>
                      <input
                        type="email"
                        class="form-control mr-sm-2"
                        placeholder="Email"
                        aria-label="email"
                        aria-describedby="basic-addon1"
                        formControlName="email"
                        [ngClass]="fieldClass('email')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('email')">
                          Email {{ getErrorMessage(contact.get("email").errors) }}
                        </div>
                    </div>
                    

                    <div class="input-group mb-3">
                      <div class="input-group-prepend ">
                        <span class=" input-group-text" id="basic-addon2">
                          <mat-icon>cake</mat-icon>
                        </span>
                      </div>
                      <input
                        type="text"
                        onfocus="(this.type='date')"
                        onblur="(this.type='text')"
                        class="form-control mr-sm-2"
                        placeholder="Birth Date"
                        aria-label="Birth Date"
                        aria-describedby="basic-addon2"
                        formControlName="birthDate"
                        [ngClass]="fieldClass('birthDate')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('birthDate')">
                          Birth Date {{ getErrorMessage(contact.get("birthDate").errors) }}
                        </div>
                    </div>
                    
                  </div>

                  <div class="col-lg-6 mx-auto">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                          <mat-icon>home</mat-icon>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control mr-sm-2"
                        placeholder="Street & House Number"
                        aria-label="Street"
                        aria-describedby="basic-addon1"
                        formControlName="street"
                        [ngClass]="fieldClass('street')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('street')">
                          Street {{ getErrorMessage(contact.get("street").errors) }}
                        </div>
                    </div>
                    
                    <div class="form-row">
                    <div class="col-sm-6 input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                          <mat-icon>location_city</mat-icon>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control mr-sm-2"
                        placeholder="City"
                        aria-label="City"
                        aria-describedby="basic-addon1"
                        formControlName="city"
                        [ngClass]="fieldClass('city')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('city')">
                          City {{ getErrorMessage(contact.get("city").errors) }}
                        </div>
                    </div>
                      <div class="col-sm-6 input-group mb-3">
                      <input
                        type="number"
                        class="form-control mr-sm-2"
                        placeholder="PostalCode"
                        aria-label="PostalCode"
                        aria-describedby="basic-addon2"
                        formControlName="postalCode"
                        [ngClass]="fieldClass('postalCode')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('postalCode')">
                          PostalCode {{ getErrorMessage(contact.get("postalCode").errors) }}
                        </div>
                    </div>
                  </div>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                          <mat-icon>public</mat-icon>
                        </span>
                      </div>
                      <input
                        type="url"
                        class="form-control mr-sm-2"
                        placeholder="Country"
                        aria-label="Country"
                        aria-describedby="basic-addon1"
                        formControlName="country"
                        [ngClass]="fieldClass('country')"
                      />
                      <div class="invalid-feedback" *ngIf="isValid('country')">
                          Country {{ getErrorMessage(contact.get("country").errors) }}
                        </div>
                    </div>
                  </div>
                </div>

                <div
                  class="btn-group flex-wrap mt-auto"
                  data-toggle="buttons"
                  role="group"
                >
                  <button
                    type="submit"
                    (click)="onSubmit(item.id)"
                    class="btn btn-sm btn-outline-light "
                    [disabled]="contact.invalid"
                  >
                    Add Contact
                  </button>

                  <button *ngIf="contact$ | async as c"
                    class="btn btn-sm btn-outline-warning"
                    type="button"
                    (click)="deleteC(item.id, c.id)"
                  >
                    Delete Contact Details
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div #targetSkills class="card collapse mb-3 " id="collapseSk">
            <div class="card-body">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapseSk"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="row mt-5">
                <div class=" col-lg-12 mx-auto">
                  <!--form starts here!!-->
                  <app-skill [id]="item.id"></app-skill>
                </div>
              </div>
            </div>
          </div>
          <div #targetEdu class="card collapse mb-3 " id="collapseEdu">
            <div class="card-body">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapseEdu"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="row mt-5 ">
                <div class=" col-lg-12 mx-auto">
                  <!--form starts here!!-->
                  <app-education [id]="item.id"></app-education>
                </div>
              </div>
            </div>
          </div>

          <div #targetExp class="card collapse mb-3 " id="collapseExp">
            <div class="card-body">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapseExp"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="row mt-5 ">
                <div class=" col-lg-12 mx-auto">
                  <!--form starts here!!-->
                  <app-experience [id]="item.id"></app-experience>
                </div>
              </div>
            </div>
          </div>

          <div #targetWorks class="card collapse mb-3 " id="collapseWork">
            <div class="card-body">
              <button
                type="button"
                class="close"
                data-toggle="collapse"
                data-target="#collapseWork"
                aria-label="Close"
              >
                <mat-icon [ngStyle]="{ color: 'white' }">close</mat-icon>
              </button>
              <div class="row mt-5 ">
                <div class=" col-lg-12 mx-auto">
                  <!--form starts here!!-->
                  <app-work [id]="item.id"></app-work>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="app-loading" *ngIf="loadingRouteConfig">
  <div class="logo"></div>
  <svg class="spinner" viewBox="25 25 50 50">
    <circle
      class="path"
      cx="50"
      cy="50"
      r="20"
      fill="none"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
</div>
