<main>
  <div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask align-items-center">
      <!-- Content -->
      <div class="container test">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div
            class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left"
          >
            <h1 class="h1-responsive font-weight-bold ">Sign up right now!</h1>
            <hr class="hr-light " />
            <h6 class="mb-3 ">
              Do you want to use an extremely simple to use platform to create
              your resume or portolio on? Look no further, as this site is just
              that! An extremely user friendly tool to make simple portfolios.
            </h6>
            <a
              class="btn btn-outline-dark"
              href="#"
              data-toggle="collapse"
              data-target="#collapseExample"
              (click)="scroll(target)"
              >Register Now!</a
            >
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div
            #target
            class="col-md-6 col-xl-5 mb-4 collapse"
            id="collapseExample"
          >
            <!--Form-->
            <div class="card">
              <div class="card-body">
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    Register:
                  </h3>
                  <hr class="hr-light" />
                </div>

                <!--Body-->
                <app-register></app-register>

                <div class="text-center mt-4">
                  <hr class="hr-light mb-3 mt-4" />
                  <div class="inline-ul text-center">
                    <button
                      type="button"
                      class="btn btn-default"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Contact support"
                      href="#"
                    >
                      <mat-icon>contact_support</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
</main>
