<form class="form-inline" [formGroup]="user" (ngSubmit)="onSubmit()">
    <div *ngIf="user.invalid">
      <div *ngIf="user.dirty">
        <div class="m-auto mr-sm-2" >
        <div class="m-auto mr-2 text-danger" *ngIf="isValid('username')">Email is required</div>
        <div class="m-auto mr-2 text-danger" *ngIf="isValid('password')">Password is required</div>
      </div>
      </div>
    </div>
    <div class="alert alert-danger m-auto mr-sm-2" *ngIf="errorMsg">
        {{errorMsg}}
      </div>

  <div class="input-group p-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <mat-icon>person</mat-icon>
      </span>
    </div>
    
    <input
      type="email"
      class="form-control mr-sm-2 "
      placeholder="Email"
      aria-label="Username"
      aria-describedby="basic-addon1"
      data-cy="login-email"
      formControlName="username"
      [ngClass]="fieldClass('username')"
    />
    
  </div>


  <div class="input-group p-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">
        <mat-icon>lock</mat-icon>
      </span>
    </div>
    <input
      type="password"
      class="form-control mr-sm-2 "
      placeholder="Password"
      aria-label="Password"
      aria-describedby="basic-addon2"
      data-cy="login-password"
      formControlName="password"
      [ngClass]="fieldClass('password')"
    />
  </div>

  <div class="p-1">
    <button
      class="btn btn-outline-light mr-sm-2"
      type="submit"
      data-cy="login-button"
      [disabled]="user.invalid"
    >
      Login
    </button>
  </div>
</form>
