/* You can add global styles to this file, and also import other style files */
/*@media screen and (min-width: 768px){*/
.bg{
    background: url("/assets/images/sitebgL.jpg") no-repeat center center fixed;
    background-size: cover;
}
/*}*/

/*@media screen and (max-width: 768px) {
    .bg{
        background: url("/assets/images/sitebg.jpeg") no-repeat center center fixed;
        background-size: cover;
    }

}*/

.card {
    background-color: rgba(0, 0, 0, 0.2);
}

h6 {
    line-height: 1.7;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}